<div id="people" class="my-4">
  <div class="content-header d-flex flex-row align-items-center">
    <h3 class="content-title mb-0 text-theme-light">People</h3>
    <div class="w-100 text-center">
      <a class="text-theme-light text-decoration-none" href="javascript:void(0)" [routerLink]="'/all/people'"
        >View all</a
      >
    </div>
  </div>
  <div class="content-body row">
    <div class="col-8 main-content">
      <div class="content bg-theme-light">
        <div
          class="
            content-description
            d-flex
            flex-row
            align-items-end
            justify-content-between
          "
        >
          <div class="d-flex flex-column">
            <h4 class="text-theme-dark mb-0">Waseem Arshad</h4>
            <span class="text-theme-dark">
              User interface designer
            </span>
          </div>
          <div>
            <span class="text-theme-dark fw-light">1234 views</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 right-content">
      <div class="row">
        <div class="col-12">
          <div class="content bg-theme-light">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
                <span class="text-theme-dark"> Michael Kaliph </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light"
                  >1234 views</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="content bg-theme-light">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
                <span class="text-theme-dark"> Ahmed Yasin </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light"
                  >1234 views</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 bottom-content">
      <div class="row">
        <div class="col-4">
          <div class="content bg-theme-light">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
                <span class="text-theme-dark"> Michael Kaliph </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light"
                  >1234 views</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-4" (click)="uploadWork()">
          <div class="content bg-theme-light">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
                <span class="text-theme-dark"> Michael Kaliph </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light"
                  >1234 views</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-4" (click)="uploadWork()"> 
          <div
            class="content bg-theme-dark border-theme-light border"
          >
            <div
              class="
                content-description
                h-100
                d-flex
                flex-row
                align-items-center
                justify-content-center
              "
            >
              <a class="text-decoration-none" href="javascript:void(0)">
                <div
                  class="
                    d-flex
                    flex-row
                    align-items-center
                    justify-content-center
                  "
                >
                  <div
                    class="
                      bg-transparent
                      d-flex
                      flex-column
                      align-items-center
                      justify-content-center
                      border border-theme-light
                      p-3
                      rounded-circle
                    "
                    style="width:50px;height:50px;"
                  >
                    <i
                      class="
                        fa-solid fa-record-vinyl
                        text-theme-light
                      "
                    ></i>
                  </div>
                  <div
                    class="
                      d-flex
                      flex-column
                      align-items-start
                      text-theme-light
                      ms-3
                    "
                  >
                    <span>{{currentUser != null ? 'Upload' : 'Login'}}</span>
                    <span>{{currentUser != null ? 'Your Work' : 'To Upload your Document'}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>