<div id="menubar" class="row my-3">
<div
  class="
    col-12
    d-flex
    flex-row
    align-items-center
    py-2
    w-100
    justify-content-start
    border-top border-bottom
    menu-bar
  "
>
  <span class="menu-item"
    ><a href="#" class="text-theme-light text-decoration-none"
      >Videos</a
    ></span
  >
  <span class="menu-item"
    ><a href="#" class="text-theme-light text-decoration-none"
      >People</a
    ></span
  >
  <span class="menu-item"
    ><a href="#" class="text-theme-light text-decoration-none"
      >Documents</a
    ></span
  >
  <span class="menu-item"
    ><a href="#" class="text-theme-light text-decoration-none"
      >Events</a
    ></span
  >
  <span class="menu-item"
    ><a href="#" class="text-theme-light text-decoration-none"
      >Communities</a
    ></span
  >
  <span class="menu-item"
    ><a href="#" class="text-theme-light text-decoration-none"
      >Favorites</a
    ></span
  >
  <span class="menu-item"
    ><a href="#" class="text-theme-light text-decoration-none"
      >Channels</a
    ></span
  >
</div>
</div>