::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3f2f2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3f2f2;
}
