<div id="video" class="my-4">
  <div class="content-header d-flex flex-row align-items-center">
    <h3 class="content-title mb-0 text-theme-light">Videos</h3>
    <div class="w-100 text-center">
      <a class="text-theme-light text-decoration-none" href="javascript:void(0)" [routerLink]="'/all/videos'"
        >Browse all videos</a
      >
    </div>
  </div>
  <div class="content-body row">
    <div class="col-md-8 main-content">
      <div class="content bg-theme-light overflow-img">
        <div
          class="
            content-description
            d-flex
            flex-row
            align-items-end
            justify-content-between
          "
        >
          <div class="d-flex flex-column">
            <video controls="" class="img-box" name="media" width="100%" *ngIf="network.object1">
              <source src="{{network.object1.path}}" type="video/mp4">
            </video>
            <img class="img-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg" width="100%;" alt="" *ngIf="!network.object1">
            <h4 class="text-theme-dark mb-0 lv-text">{{network.object1 ? network.object1.title : 'No Title'}}</h4>
            <span class="text-theme-dark lv-text"> {{network.object1 ? network.object1.user.fullName : '-'}} </span>
          </div>
          <div>
            <span class="text-theme-dark fw-light lv-text">{{network.object1 ? network.object1.views : '0'}} views</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 right-content">
      <div class="row">
        <div class="col-12">
          <div class="content bg-theme-light overflow-img">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
                <video controls="" class="img-box" name="media" width="100%" *ngIf="network.object2">
                  <source src="{{network.object2.path}}" type="video/mp4">
                </video>
                <img class="img-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg" width="100%;" alt="" *ngIf="!network.object2">
                <span class="text-theme-dark lv-text"> {{network.object2 ? network.object2.user.fullName : 'Empty'}} </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light lv-text">{{network.object2 ? network.object2.views : '0'}} views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="content bg-theme-light overflow-img">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
              <video controls="" class="img-box" name="media" width="100%" *ngIf="network.object3">
                <source src="{{network.object3.path}}" type="video/mp4">
              </video>
              <img class="img-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg" width="100%;" alt="" *ngIf="!network.object3">
                <span class="text-theme-dark lv-text"> {{network.object3 ? network.object3.user.fullName : 'Empty'}} </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light lv-text">{{network.object3 ? network.object3.views : '0'}} views</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 bottom-content">
      <div class="row">
        <div class="col-md-4">
          <div class="content bg-theme-light overflow-img">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
                <video controls="" class="img-box" name="media" width="100%" *ngIf="network.object4">
                  <source src="{{network.object4.path}}" type="video/mp4">
                </video>
                <img class="img-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg" width="100%;" alt="" *ngIf="!network.object4">
                <span class="text-theme-dark lv-text"> {{network.object4 ? network.object4.user.fullName : 'Empty'}} </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light lv-text">{{network.object4 ? network.object4.views : '0'}} views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content bg-theme-light overflow-img">
            <div
              class="
                content-description
                d-flex
                flex-row
                align-items-end
                justify-content-between
              "
            >
              <div>
              <video controls="" class="img-box" name="media" width="100%" *ngIf="network.object5">
                <source src="{{network.object5.path}}" type="video/mp4">
              </video>
              <img class="img-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg" width="100%;" alt="" *ngIf="!network.object5">
                <span class="text-theme-dark lv-text"> {{network.object5 ? network.object5.user.fullName : 'Empty'}} </span>
              </div>
              <div>
                <span class="text-theme-dark fw-light lv-text">{{network.object5 ? network.object5.views : '0'}} views</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" 
        (click)="uploadVideos()">
          <div class="content bg-theme-dark border-theme-light border">
            <div
              class="
                content-description
                h-100
                d-flex
                flex-row
                align-items-center
                justify-content-center
              "
            >
              <a class="text-decoration-none" href="javascript:void(0)">
                <div
                  class="
                    d-flex
                    flex-row
                    align-items-center
                    justify-content-center
                  "
                >
                  <div 
                    class="
                      bg-transparent
                      d-flex
                      flex-column
                      align-items-center
                      justify-content-center
                      border border-theme-light
                      p-3
                      rounded-circle
                    "
                    style="width:50px;height:50px;"
                  >
                  <i class="fa-solid fa-arrow-up text-theme-light"></i>
                  </div>
                  <div
                    class="
                      d-flex
                      flex-column
                      align-items-start
                      text-theme-light
                      ms-3
                    "
                  >
                    <span>{{currentUser != null ? 'Upload' : 'Login'}}</span>
                    <span>{{currentUser != null ? 'Your Own Video' : 'To Upload your Videos'}}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
