<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row align-items-center">
      <h3 class="content-title mb-0 text-theme-light">Activity</h3>
      <div class="w-100 text-end" [routerLink]="'/all/activity'">
        <a class="text-theme-light text-decoration-none" href="javacript:void(0)"
          >View timeline</a
        >
        <span class="text-theme-light"> / </span>
        <a class="text-theme-light text-decoration-none" href="javascript:void(0)"
          >Filter Activities</a
        >
      </div>
    </div>
    <div class="border-top border-bottom border-theme-light">
      <div
        class="activity-container d-flex flex-row justify-content-between"
      >
        <div class="activity-image-container bg-theme-light"></div>
        <div
          class="
            activity-description-container
            d-flex
            flex-column
            justify-content-between
          "
        >
          <div class="d-flex flex-row align-items-end">
            <span class="activity-description-name text-theme-light me-1"
              >John Stainlor</span
            >
            <span class="activity-name fw-light text-theme-light"
              >Commented</span
            >
          </div>
          <span class="activity-description text-theme-light"
            >Lorem ipsum dolor sit amet, consectetur..</span
          >
          <div class="d-flex flex-row align-items-end">
            <i class="fa-solid fa-comment text-theme-light me-2"></i>
            <span class="activity-time text-theme-light"
              >2 seconds ago</span
            >
          </div>
        </div>
      </div>
      <div
        class="
          activity-container
          d-flex
          flex-row
          justify-content-between
          active
        "
      >
        <div class="activity-active-button">
          <div class="corner-button-light">
            <i class="fa-solid fa-xmark text-theme-dark"></i>
          </div>
        </div>
        <div class="activity-image-container bg-theme-light"></div>
        <div
          class="
            activity-description-container
            d-flex
            flex-column
            justify-content-between
          "
        >
          <div class="d-flex flex-row align-items-end">
            <span class="activity-description-name text-theme-light me-1"
              >John Stainlor</span
            >
            <span class="activity-name fw-light text-theme-light"
              >Added a new video</span
            >
          </div>
          <span class="activity-description text-theme-light"
            >Lorem ipsum dolor sit amet, consectetur..</span
          >
          <div class="d-flex flex-row align-items-end">
            <i class="fa-solid fa-video text-theme-light me-2"></i>
            <span class="activity-time text-theme-light"
              >2 seconds ago</span
            >
          </div>
        </div>
      </div>
      <div
        class="activity-container d-flex flex-row justify-content-between"
      >
        <div class="activity-image-container bg-theme-light"></div>
        <div
          class="
            activity-description-container
            d-flex
            flex-column
            justify-content-between
          "
        >
          <div class="d-flex flex-row align-items-end">
            <span class="activity-description-name text-theme-light me-1"
              >John Stainlor</span
            >
            <span class="activity-name fw-light text-theme-light"
              >shared a document</span
            >
          </div>
          <span class="activity-description text-theme-light"
            >Lorem ipsum dolor sit amet, consectetur..</span
          >
          <div class="d-flex flex-row align-items-end">
            <i class="fa-solid fa-file text-theme-light me-2"></i>
            <span class="activity-time text-theme-light"
              >2 seconds ago</span
            >
          </div>
        </div>
      </div>
      <div
        class="activity-container d-flex flex-row justify-content-between"
      >
        <div class="activity-image-container bg-theme-light"></div>
        <div
          class="
            activity-description-container
            d-flex
            flex-column
            justify-content-between
          "
        >
          <div class="d-flex flex-row align-items-end">
            <span class="activity-description-name text-theme-light me-1"
              >John Stainlor</span
            >
            <span class="activity-name fw-light text-theme-light"
              >Commented</span
            >
          </div>
          <span class="activity-description text-theme-light"
            >Lorem ipsum dolor sit amet, consectetur..</span
          >
          <div class="d-flex flex-row align-items-end">
            <i class="fa-solid fa-comment text-theme-light me-2"></i>
            <span class="activity-time text-theme-light"
              >2 seconds ago</span
            >
          </div>
        </div>
      </div>
      <div
        class="activity-container d-flex flex-row justify-content-between"
      >
        <div class="activity-image-container bg-theme-light"></div>
        <div
          class="
            activity-description-container
            d-flex
            flex-column
            justify-content-between
          "
        >
          <div class="d-flex flex-row align-items-end">
            <span class="activity-description-name text-theme-light me-1"
              >John Stainlor</span
            >
            <span class="activity-name fw-light text-theme-light"
              >Added a new video</span
            >
          </div>
          <span class="activity-description text-theme-light"
            >Lorem ipsum dolor sit amet, consectetur..</span
          >
          <div class="d-flex flex-row align-items-end">
            <i class="fa-solid fa-video text-theme-light me-2"></i>
            <span class="activity-time text-theme-light"
              >2 seconds ago</span
            >
          </div>
        </div>
      </div>
      <div
        class="activity-container d-flex flex-row justify-content-between"
      >
        <div class="activity-image-container bg-theme-light"></div>
        <div
          class="
            activity-description-container
            d-flex
            flex-column
            justify-content-between
          "
        >
          <div class="d-flex flex-row align-items-end">
            <span class="activity-description-name text-theme-light me-1"
              >John Stainlor</span
            >
            <span class="activity-name fw-light text-theme-light"
              >shared a document</span
            >
          </div>
          <span class="activity-description text-theme-light"
            >Lorem ipsum dolor sit amet, consectetur..</span
          >
          <div class="d-flex flex-row align-items-end">
            <i class="fa-solid fa-file text-theme-light me-2"></i>
            <span class="activity-time text-theme-light"
              >2 seconds ago</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>