<div class="row">
  <div class="col-md-12">
    <div class="d-flex flex-row align-items-center">
      <h3 class="content-title mb-0 text-theme-light">Activity</h3>
      <div class="w-100 text-end" [routerLink]="'/all/activity'">
        <a class="text-theme-light text-decoration-none" href="javacript:void(0)"
          >View timeline</a
        >
        <span class="text-theme-light"> / </span>
        <a class="text-theme-light text-decoration-none" href="javascript:void(0)"
          >Filter Activities</a
        >
      </div>
    </div>
    <div class="border-top border-bottom border-theme-light" *ngFor="let activity of activitys">
      <div
        class="activity-container d-flex flex-row justify-content-between"
      >
        <div class="activity-image-container bg-theme-light overflow-img">
        
        <img class="img-box" src="{{ activity.user.profilePhoto ? activity.user.profilePhoto :  'https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg'}}" width="100%;" alt=""></div>
        <div
          class="
            activity-description-container
            d-flex
            flex-column
            justify-content-between
          "
        >
          <div class="d-flex flex-row align-items-end">
            <span class="activity-description-name text-theme-light me-1"
              >{{activity.user.fullName}}</span
            >
            <span class="activity-name fw-light text-theme-light"
              >{{activity.title}}</span
            >
          </div>
          <span class="activity-description text-theme-light"
            >{{activity.description}}</span
          >
          <div class="d-flex flex-row align-items-end">
            <i class="fa-solid fa-comment text-theme-light me-2"></i>
            <span class="activity-time text-theme-light"
              >{{timeSince(activity.createdAt)}} seconds ago</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>