<mat-dialog-content>
  <div class="row">
    <div class="col-11">
      <h5 class="text-theme-light">Create Your Account</h5>
    </div>
    <div class="col-1 text-right">
      <button mat-dialog-close class="btn btn-sm pr-0 text-theme-light">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <hr class="mb-3 text-theme-light" />
  <form class="col-12" (ngSubmit)="onSubmitSignUp()" #signinForm="ngForm">
    <div class="row mb-5">
      <div class="form-group col-12 mb-3">
        <label for="fullName" class="text-theme-light">Fullname</label>
        <input
          name="fullName"
          type="text"
          class="form-control"
          id="fullName"
          [formControl]="fullName"
        />
      </div>
      <div class="form-group col-12 mb-3">
        <label for="username" class="text-theme-light">Username</label>
        <input
          name="username"
          type="text"
          class="form-control"
          id="username"
          [formControl]="username"
        />
      </div>
      <div class="form-group col-12 mb-3">
        <label for="email" class="text-theme-light">Email</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="email"
          [formControl]="email"
        />
      </div>
      <div class="form-group col-12">
        <label for="password" class="text-theme-light">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="password"
          [formControl]="password"
        />
      </div>
      <label class="text-theme-light mt-2"
        >Have a account ?
        <a
          href="javascript:void(0)"
          class="text-theme-light"
          mat-dialog-close
          (click)="login()"
          >Login here</a
        >
        !</label
      >
    </div>
    <button
    [disabled]="isLoading"
      type="submit"
      class="btn rounded-0 bg-theme-light text-theme-dark"
      style="width: 100%"
    >
      <i class="fa-solid fa-sign-in me-2"></i>{{ messageLoading }}
    </button>
  </form>
</mat-dialog-content>
