<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row align-items-center">
      <h3 class="content-title mb-0 text-theme-light">Channels</h3>
      <div class="w-100 text-end">
        <a class="text-theme-light text-decoration-none" href="javascript:void(0)" [routerLink]="'/all/channel'"
          >Browse all channels</a
        >
      </div>
    </div>
    <div class="row channel-height" 
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    (scrolled)="onScroll()">
      <div class="col-6" *ngFor="let data of arrayData">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">{{data.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>