<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row align-items-center">
      <h3 class="content-title mb-0 text-theme-light">Channels</h3>
      <div class="w-100 text-end">
        <a class="text-theme-light text-decoration-none" href="#"
          >Browse all channels</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Google</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-add-button">
            <div class="corner-button-dark">
              <i class="fa-solid fa-sm fa-plus text-theme-light"></i>
            </div>
          </div>
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Dribble</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Microsoft</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Binance</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Weather Channel</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Gurus</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">iMedia</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Creativeye</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Khan Studio</span>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="channel-container bg-theme-light">
          <div class="channel-description">
            <span class="text-theme-dark fw-bold">Yahoo</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>