.channel-height {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3F2F2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3f2f2;
}
