<div id="footer" class="row">
<div class="col-12 border-top border-theme-light py-3">
  <div class="d-flex flex-row">
    <a
      href="#"
      class="
        text-decoration-none
        d-flex
        flex-column
        align-items-center
        justify-content-center
        bg-theme-light
        me-2
      "
      style="width: 2rem; height: 2rem;"
      ><i class="fa-brands fa-twitter text-theme-dark"></i
    ></a>
    <a
      href="#"
      class="
        text-decoration-none
        d-flex
        flex-column
        align-items-center
        justify-content-center
        bg-theme-light
        me-2
      "
      style="width: 2rem; height: 2rem;"
      ><i class="fa-brands fa-linkedin-in text-theme-dark"></i
    ></a>
    <a
      href="#"
      class="
        text-decoration-none
        d-flex
        flex-column
        align-items-center
        justify-content-center
        bg-theme-light
      "
      style="width: 2rem; height: 2rem;"
      ><i class="fa-brands fa-facebook-f text-theme-dark"></i
    ></a>
  </div>
  <div
    class="
      d-flex
      flex-row
      align-items-center
      py-2
      w-100
      justify-content-start
      menu-bar
      my-3
    "
  >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >About</a
      ></span
    >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >For Business</a
      ></span
    >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >Suggestion</a
      ></span
    >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >Help & FAQs</a
      ></span
    >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >Contacts</a
      ></span
    >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >Pricing</a
      ></span
    >
  </div>
  <span class="text-theme-light mb-0">Copyright 2022 example inc.</span>
  <div
    class="
      d-flex
      flex-row
      align-items-center
      w-100
      justify-content-start
      menu-bar
      mb-3
    "
  >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >Privacy</a
      ></span
    >
    <span class="menu-item"
      ><a href="#" class="text-theme-light text-decoration-none"
        >Terms</a
      ></span
    >
  </div>
</div>
</div>